main {
    min-width: 100%;
    height: auto;
    background: #fff;

    .small-top {
        width: 100%;
        height: 40px;
        padding: 1px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    }

    .products {
        display: flex;
        width: 100%;
        padding: 12px 4px 0;

        .product-features {
            width: 20%;
        }

        .product-item-lists {
            width: 80%;
            padding: 0 4px;


            .item {
                width: 100%;
                height: auto;
                display: flex;
                border: 1px solid #dadada;
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 20px;

                .product-image {
                    width: 240px;
                    padding: 0 14px;
                    background: #fcfcfc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid #dadada;

                    img {
                        width: 180px;
                        height: 100%;
                        object-fit: contain;
                        margin: 0 auto;
                    }
                }

                .item-details {
                    width: calc(100% - 240px);
                    padding: 6px 8px;
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;

                    * {
                        width: fit-content;
                    }

                    h2>a {
                        font-size: 22px;
                        font-weight: 400;
                        color: #000;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                    }

                    .rating {
                        display: flex;
                        height: 20px;
                        column-gap: 3px;

                        img {
                            height: 100%;
                        }

                        #total-ratings {
                            font-size: 14px;
                            font-weight: 500;
                            color: rgb(50, 129, 145);
                        }
                    }

                    .stock-history {
                        font-size: 14px;
                        color: #666262;
                    }

                    .price {
                        display: flex;
                        align-items: flex-end;
                        font-size: 14px;
                        column-gap: 5px;

                        .after-discount {
                            display: flex;
                            column-gap: 1px;
                            color: #000;

                            * {
                                padding-top: 5px;
                            }

                            #item-price-dollar {
                                font-size: 28px;
                                font-weight: 500;
                                padding-top: 0;
                            }
                        }

                        .before-discount {
                            color: #666262;
                        }
                    }

                    #stock-detail {
                        font-size: 15px;
                        color: rgb(189, 45, 45);
                    }

                    .add-to-cart {
                        height: 29px;
                        padding: 0 10px 0 11px;
                        border: 1px solid #666262;
                        border-radius: 10vh;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        background: rgb(234, 192, 64);
                        border: none;
                        outline: none;

                        &:hover {
                            background: rgb(216, 175, 53);
                        }
                    }

                    .more-choices {
                        color: #666262;
                        font-size: 14px;
                    }

                    .radio-buttons {
                        display: flex;
                        column-gap: 5px;

                        input {
                            display: none;
                        }

                        label{
                            aspect-ratio: 1;
                            width: 20px;
                            border-radius: 50%;
                            box-shadow: 0 0 2px #000;
                            margin: 2px;
                        }

                        
                        label[for=black]{
                            background-color: #000;
                        }
                        label[for=white]{
                            background-color: #fff;
                        }                        
                        label[for=tomato]{
                            background-color: tomato;
                        }                        
                        label[for=skyblue]{
                            background-color: skyblue;
                        }


                    }
                }
            }
        }
    }
}
